<div class="logo">
      <img src="logo_1.png" alt="Movie Xplorer Logo">
      <h1>Movie Xplorer</h1>
    </div>

     <div class="header-controls">
      <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
      <button class="menu-toggle" id="menuToggle">☰</button>
    </div>

    <nav id="navMenu">
      <a href="#">Home</a>
      <a href="#">Trending</a>
      <a href="#">Categories</a>
      <a href="#">Favorites</a>
      <a href="#">About</a>
      <a href="#">Login</a>
    </nav>