<div class="logo">
      <img src="logo_1.png" alt="Movie Xplorer Logo">
      <h1>Movie Xplorer</h1>
    </div>

     <div class="header-controls">
      <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
      <button class="menu-toggle" id="menuToggle">☰</button>
    </div>

    <nav id="navMenu">
      <a href="index.html">Home</a>
      <a href="trending.html">Trending</a>
      <a href="categories.html">Categories</a>
      <a href="favorites.html">Favorites</a>
      <a href="about.html">About</a>
      <a href="login.html">Login</a>
    </nav>